.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: var(--backgroundPrimary);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.outer-container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  /* This adds a little darkness to the background image for better text readability */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-container h1 {
  margin: 0;
  font-size: 9rem;
  color: var(--textTertiary);
  transition: transform 0.2s;
}

.welcome-container h1 span {
  font-weight: bold;
  font-size: 9rem;
  color: var(--headerSpan);
}

.welcome-container h2 {
  margin: 0;
  font-size: 3rem;
  color: var(--textTertiary);
  transition: transform 0.2s;
}

.welcome-container h2 span {
  font-weight: bold;
  font-size: 3rem;
  color: var(--headerSpan);
}

.welcome-container h3 {
  margin: 0;
  font-size: 3rem;
  color: var(--textTertiary);
  transition: transform 0.2s;
}

.welcome-container h3 span {
  font-weight: bold;
  font-size: 3rem;
  color: var(--headerSpan);
}

.outer-container:hover h2 {
  transform: scale(1.05);
  /* Add a little scaling effect on hover */
}

/* Mobile */
@media only screen and (min-width: 360px) and (max-width: 639px) {
  .welcome-container h1, .welcome-container h1 span {
    font-size: 3rem;
  }

  .welcome-container h2,.welcome-container h2 span {
    font-size: 1rem;
  }

  .logo, nav img {
    width: 48px;
    height: 48px;
  }

  .welcome-container {
    margin-left: 0px;
  }

  .welcome-container {
    margin-right: 0px;
  }

  .welcome-container button {
    margin-right: 10px;
    font-size: 0.8rem;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .welcome-container h1, .welcome-container h1 span {
    font-size: 4rem;
  }

  .welcome-container h2, .welcome-container h2 span {
    font-size: 1rem;
  }  
}

/* Desktop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  .welcome-container h1, .welcome-container h1 span {
    font-size: 6rem;
  }

  .welcome-container h2, .welcome-container h2 span {
    font-size: 3rem;
  }  
}

@media only screen and (min-width: 1920px) {
  .welcome-container h1, .welcome-container h1 span {
    font-size: 9rem;
  }

  .welcome-container h2, .welcome-container h2 span {
    font-size: 3rem;
  }  
}
