.indicatorList {
  padding: 1px;
}

.indicatorList ul {
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--borderPrimary);
}

.indicatorList li {
  flex: 1;
  background: var(--backgroundTertiary);
  color: var(--textSecondary);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--borderPrimary);
}

.indicatorList button {
  flex: none;
  background-color: var(--buttonBackground);
  color: var(--buttonText);
  border-radius: 5px;
  border: 1px solid var(--borderPrimary);
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.indicatorList button:hover {
  background-color: var(--buttonHoverBackground);
  color: var(--buttonHoverText);
}
